.feed {
  display: flex;
  flex-direction: row;
}

.sidebarWrapper {
  height: 92vh;
  border-right: 1px solid #3d3d3d;
  padding: 0 20px
}

.videosWrapper {
  flex: 2;
  height: 90vh;
  padding: 16px;
  overflow-y: auto;
}

.videosTitle {
  font-family: "Roboto";
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  color: #ffffff;
}

@media screen and (max-width: 900px) {

  .feed {
    flex-direction: column;
  }

  .sidebarWrapper {
    height: auto;
    padding: 0;
  }
}
