.videoCard {
  min-height: 95vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.innerWrapper {
  display: flex;
  flex: 1;
}

.videoWrapper {
  position: sticky;
  top: 86px;
  width: 100%;
}

.player {
  height: 77vh !important;
  width: 100% !important;
}

.videoTitle {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 16px;
  margin: 0;
}

.videoCharacteristics {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.videoInfo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.videoViews,
.videoLikes {
  font-family: 'Roboto', sans-serif;
  color: #c7bebe;
}

.channelLink {
  text-decoration: none;
}

.channelTitle {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.relatedVideos {
  padding: 8px 16px;
}

@media screen and (min-width: 900px) {
  .videoWrapper {
    height: 700px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }
}
