.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 326px;
  margin: auto;
  text-align: center;
}

.link {
  text-decoration: none;
}

.imageWrapper {
  border: 1px solid #e3e3e3;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 16px;
}

.previewImage {
  border-radius: 50%;
}

.channelTitle {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
  color: #ffffff;
}

.subscribersCount {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #808080;
  margin: 0;
}
